<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
  <form id="login-form1" [formGroup]="loginForm">
    <ion-list id="login-list2">
      <ion-item id="login-input1">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" formControlName="email" placeholder="" ></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( loginForm.get('email').hasError('minlength') || loginForm.get('email').hasError('pattern') ||loginForm.get('email').hasError('required') ) && loginForm.get('email').touched">
        <div *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
          <p style="color:red;">Please input your email</p>
        </div>
        <div *ngIf="loginForm.get('email').hasError('pattern') && loginForm.get('email').touched">
          <p style="color:red;">Email address invalid</p>
        </div>
      </ion-item>
      <ion-item id="login-input2">
        <ion-label>
          Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" formControlName="password" placeholder=""></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( loginForm.get('password').hasError('minlength') || loginForm.get('password').hasError('required') ) && loginForm.get('password').touched">
       <div *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
         <p style="color:red;">Please input your password</p>
       </div>
       <div *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
         <p style="color:red;">Minimum 6 characters</p>
       </div>
     </ion-item>
    </ion-list>
    <!-- <ion-item id="login-toggle1">
      <ion-label>
        Remember Me
      </ion-label>
      <ion-toggle color="positive" checked="false"></ion-toggle>
    </ion-item>
    <h5 id="login-heading4" style="color:#84A7E6;text-align:right;">
      Forgot Password?
    </h5> -->
    <button id="login-button1" [disabled]="loginForm.invalid" (click)="login()" ion-button color="stable">
      Login
    </button>
    <button ion-button color="stable" (click)="loginWithFingerprint()"><ion-icon ios="ios-finger-print" md="md-finger-print"></ion-icon></button>
  </form>
</ion-content>
