page-summary {

}

.toolbar-background {
  background-color: #7CFC00;
}
// .divContainer0 {
//   border-radius: 25px;
//   border: 2px solid #84A7E6;
//   padding: 20px;
//   width: 350px;
//   height: 250px;
//   background-color: white;
// }

.divContainer1 {
  border-radius: 25px;
  border: 2px solid #84A7E6;
  padding: 20px;
  width: 350px;
  height: auto;
  background-color: white;
}

.divContainer2 {
  border-radius: 25px;
  padding: 7px;
  width: 350px;
  // background-color: white;
}
